
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.loginArea{
margin-top: 50px;
width: 30%;
border: 1px solid gray;
height: 350px;
padding: 25px;
}
